<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/welcome.css' />
  </head>
  <body>
  	<div class="container">
      <canvas id ='canvas'></canvas>
    </div>
    <script src=<%= jquery %>></script>
    <script src=<%= Bootstrap %>></script>
    <script src=<%= index %>></script>
    <script>
      var t= '';
      if(t){
      	clearTimeout(t);
      }
      t=setTimeout(function(){
      	location.href = location.host+'/index';
      },1500);
    </script>
  </body>
</html>
